html, body {
    width : 100%;
    height: 100%;
}

iframe {
    position: absolute;
    width : 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#backToTwine {
    position: absolute;
    top: 5px;
    right: 5px;
    background: grey;
    /*width: 20px;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    border-radius: 10px;
    color: white;
    z-index: 1000; 
    text-align: center;
}

#start {
   position: absolute;
   z-index: 1001; 
    width : 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: pink;
    background-color: black;
    font-size: 6em;
    font-family: monospace;
    text-align: center; 
}

#progress {
    width: 180px;
    height: 18px;
    border: solid 2px black;
    background-color: lightgrey;
    margin: 50px auto;
}

#progress .value {
    width: 0%;
    height: 18px;
    background-color: green;
}